{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block style %} {% endblock style %}

    <title>
      Startup Training Institute - {% block title %} {% endblock title %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">S.T.I Bangalore</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link {% block home %} {% endblock home %}" href="/"
                >Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link {% block courses %} {% endblock courses %}"
                href="/courses/"
                >Courses</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% block Attendance %} {% endblock Attendance %}"
                href="/attendance/"
                >Attendance</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% block Enroll %} {% endblock Enroll %}"
                href="/enroll"
                >Enroll</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% block About %} {% endblock About %}"
                href="/about"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% block Contact %} {% endblock Contact %}"
                href="/contact"
                >Contact Us</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="/"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Services</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/"
                  >Training Professional Courses</a
                >
                <a class="dropdown-item" href="/">Freelancing</a>
                <a class="dropdown-item" href="/">Onsite Training</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/">Online or Offline Training</a>
              </div>
            </li>

            {% if not request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="/auth/login"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Signin</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/auth/signup/">Signup</a>
                <a class="dropdown-item" href="/auth/login/">Login</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/auth/request-reset-email/"
                  >Reset Password</a
                >
           
              </div>
            </li>
             {% else %}

             <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="/auth/logout/"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Welcome {{user.first_name}}</a
              >

              <div class="dropdown-menu">
                <a class="dropdown-item" href="/candidateprofile/">My Profile</a>
                <a class="dropdown-item" href="/auth/logout/">Logout</a>
      
           
              </div>
             
            </li>

            {% endif %}



          </ul>
          <form class="d-flex" action="/search/" method="get">
            <input
              class="form-control me-sm-2"
              type="search"
              placeholder="Search"
              name="search"
            />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    {% block body %}

    {% endblock body %} 

    {% block script %} 

    {% endblock script %}

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
