{% extends 'base.html' %}
{% block title %}
    Request Reset Password    
{% endblock title %} 
{% block body %}

<div class="container mt-3">
    <div class="row">
      <div class="col-md-4"></div>
  
      <div class="col-md-4">
        <h1 class="text-center text-success">Request for reset password</h1>
        {% include "messages.html" %}
        <form action="/auth/request-reset-email/" method="post">{% csrf_token %}
          <br />
         
          <label for="email">Email</label>
          <div class="form-group">
            <input
              type="email"
              class="form-control p-2 mb-3"
              id="email"
              name="email"
              placeholder="Enter email"
              required
            />
          </div>
          
     
        
          <br />
          <div class="d-grid gap-2 mb-3">
          <button type="submit" class="btn btn-success get-started-btn">Reset</button>
          </div>
  
          <br />
          New User? <a href="/auth/signup/">Signup</a>
          <br />
        </form>
      </div>
      
  
      <div class="col-md-4"></div>
    </div>
  </div>
  
{% endblock body %}
